<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <title>
        {% block title %}
            My First Django Project
        {% endblock %}
    </title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/posts">Posts</a></li>
            </ul>
        </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>