{% extends 'layout.html' %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <section>
    <h1>Posts</h1>

    {% for post in posts %}
        <article class="post">
            <h2>
                {% comment %} <a href="{%  url 'posts:page' slug=post.slug %}"> {% endcomment %}
                    {{ post.title }}
                {% comment %} </a> {% endcomment %}
            </h2>
            <p>{{ post.created_at }}</p>
            <p>{{ post.content }}</p>
        </article>
    {% endfor %}
</section>
{% endblock %}